[Unit]
Description=Discord bot

[Service]
# Command to execute when the service is started
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/peachorobo
ExecStart=/home/ubuntu/peachorobo/venv/bin/python3 /home/ubuntu/peachorobo/peachorobo/main.py

[Install]
WantedBy=multi-user.target